#app-wrap {
  position: relative;
  justify-content: flex-end;
}

#tank-wrap {
  position: absolute;
  inset: 0;
  flex: none;
  z-index: 1;
}

#icon-buttons {
  top: 15px;
  right: 15px;
  transform: none;
  flex-direction: column;
}
